# COGS 108 - Data Checkpoint

# Names

- Thuy Nguyen
- Tony Hu
- Raul Vargas
- Kristen Corpuz
- Megan Li

<a id='research_question'></a>
# Research Question

How did the pandemic affect multiplayer game (games with social interaction) games available on steam:
- How did the pandemic in 2020 affect player count of the most popular multiplayer games on steam versus the most popular single single player games? 
- Potential: How did the pandemic affect the types of games that were released before the pandemic versus after the pandemic?

# Dataset(s)

**Dataset 1 Name: Application Information (csv file)**

- Link to the dataset: https://data.mendeley.com/datasets/ycy3sy3vj2/1
- Number of observations: 2000
- Note that there are 1963 games in the dataset out of the 2000 applications before data cleaning

This dataset has 2000 rows and 5 columns, containing the game ID in the first column and application type, name, release date, and free to play values in the rest of the four columns.

**Dataset 2 Name: Application Genres (csv file)**
- Link to the dataset: https://data.mendeley.com/datasets/ycy3sy3vj2/1
- Number of observations: 2000

This dataset has 2000 rows and 2 columns, containing the game ID in the first column and a list of genres corresponding to each game in the second column.

**Dataset 3 Name: Application Tags (csv file)**
- Link to the dataset: https://data.mendeley.com/datasets/ycy3sy3vj2/1
- Number of observations: 2000

This dataset has 2000 rows and 2 columns, containing the game ID in the first column and a list of game tags corresponding to each game in the second column.

**Dataset 4 Name: Player Count History Part 1 and Player Count History Part 2 (zip files)**
- Link to the dataset: https://data.mendeley.com/datasets/ycy3sy3vj2/1
- Number of observations: 2000 individual csv files corresponding to each game ID

Each Player Count History zip file contains 2000 csv files for each game. Each game’s file has 280,225 rows and 2 columns, containing the date and time in the first column in 5-minute intervals starting from 12/14/2017 12:00 AM to 8/12/2020 11:55 PM and player count for the corresponding date and time in the second column.

**Merging the data**

We plan to merge datasets 1, 2, and 3 on the game ID using an inner merge and only keeping the rows that exist in all 3 datasets after individually pruning rows in each dataset. After cleaning the top 5 games for selected genres’ (such as single player and multiplayer) player count history files to store monthly averaged player counts starting from January 2019 to August 2020, we may merge this information with our previously combined dataset using the game ID.

# Setup

In [ ]:
# importing libraries we might need later
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [15]:

# Read applicationGenres.csv into dataframe storing only IDs with genres
with open('./datasets/applicationGenres.csv') as f:
    genresDict = {} # Store distinct genres
    IDs = []
    genres = []
    for line in f:
        if ',' in line:
            cleanLine = line.strip().split(',')
            IDs.append(cleanLine[0])
            genres.append(cleanLine[1:]) #genres.append(','.join(cleanLine[1:])) converts list to string
            for genre in cleanLine[1:]: genresDict.setdefault(genre)
df_genre = pd.DataFrame({'ID':IDs, 'Genres':genres},)
df_genre["ID"] = pd.to_numeric(df_genre["ID"])
df_genre

          ID                                      Genres
0     578080  [Action, Adventure, Massively Multiplayer]
1        570            [Action, Free to Play, Strategy]
2        730                      [Action, Free to Play]
3     359550                                    [Action]
4     271590                         [Action, Adventure]
...      ...                                         ...
1827   64000                                  [Strategy]
1828  227860                           [Indie, Strategy]
1829  429050   [Action, Indie, Simulation, Early Access]
1830  209650                                    [Action]
1831  304730                 [Casual, Indie, Simulation]

[1832 rows x 2 columns]

Using one-hot encoding to separate genres into their own columns instead of having them listed as list of genres for every observation like the table above. Every genre column will be marked with 1 if it is present in the original list of genres for each observation.

In [16]:
df_genre = df_genre.drop('Genres', 1).join(df_genre.Genres.str.join('|').str.get_dummies())

In [19]:
print(df_genre.shape)
df_genre

(1832, 27)

,ID,60,Action,Adventure,Animation & Modeling,Audio Production,Casual,Design & Illustration,Early Access,Education,...,Racing,Sexual Content,Simulation,Software Training,Sports,Strategy,Utilities,Video Production,Violent,Web Publishing
0,578080,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,570,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,730,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,359550,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,271590,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1827,64000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1828,227860,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1829,429050,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1830,209650,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1831,304730,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0

Next, we will look at all columns that has at least one observation with a value 1 for df_genres.

In [28]:
(df_genre.loc[:, df_genre.columns != 'ID'] > 0).any()

60                       True
Action                   True
Adventure                True
Animation & Modeling     True
Audio Production         True
Casual                   True
Design & Illustration    True
Early Access             True
Education                True
Free to Play             True
Gore                     True
Indie                    True
Massively Multiplayer    True
Nudity                   True
Photo Editing            True
RPG                      True
Racing                   True
Sexual Content           True
Simulation               True
Software Training        True
Sports                   True
Strategy                 True
Utilities                True
Video Production         True
Violent                  True
Web Publishing           True
dtype: bool

It seems like all columns of different genres have at least one observation that has a value of 1. However, we will be dropping the column labeled '60' due its ambiguity and legen-related explanation from the source.

In [29]:
df_genre.drop('60', inplace=True, axis=1)
print(list(df_genre.columns))

['ID', 'Action', 'Adventure', 'Animation & Modeling', 'Audio Production', 'Casual', 'Design & Illustration', 'Early Access', 'Education', 'Free to Play', 'Gore', 'Indie', 'Massively Multiplayer', 'Nudity', 'Photo Editing', 'RPG', 'Racing', 'Sexual Content', 'Simulation', 'Software Training', 'Sports', 'Strategy', 'Utilities', 'Video Production', 'Violent', 'Web Publishing']

In [32]:
df_genre.shape

(1832, 26)

Next we will be importing data from the file "applicationInformation.csv".

In [36]:
# Get the applicationInformation.csv and remove rows that are not games and empty
df_info = pd.read_csv("./datasets/applicationInformation.csv", engine="python")
# renaming the appid column to ID, matching the ID column for df_genre
df_info = df_info.rename(columns={'appid': 'ID'})
print(df_info.shape)
df_info

(2000, 5)

,ID,type,name,releasedate,freetoplay
0,578080,game,PLAYERUNKNOWN'S BATTLEGROUNDS,21-Dec-17,0.0
1,570,game,Dota 2,9-Jul-13,1.0
2,730,game,Counter-Strike: Global Offensive,21-Aug-12,1.0
3,622590,NaN,PLAYERUNKNOWN'S BATTLEGROUNDS (Test Server),NaN,NaN
4,359550,game,Tom Clancy's Rainbow Six Siege,1-Dec-15,0.0
...,...,...,...,...,...
1995,34000,advertising,Football Manager 2010,29-Oct-09,1.0
1996,202480,NaN,Skyrim Creation Kit,NaN,NaN
1997,429050,game,Feed and Grow: Fish,8-Jan-16,0.0
1998,209650,game,Call of Duty: Advanced Warfare,3-Nov-14,0.0
1999,304730,game,Train Fever,4-Sep-14,0.0

Since we will only be exploring data about video games, we will be dropping any observations with a non-game for the "type" column

In [37]:
df_info = df_info[df_info.type == 'game']
print(df_info.shape)
df_info

(1851, 5)

          ID  type                              name releasedate  freetoplay
0     578080  game     PLAYERUNKNOWN'S BATTLEGROUNDS   21-Dec-17         0.0
1        570  game                            Dota 2    9-Jul-13         1.0
2        730  game  Counter-Strike: Global Offensive   21-Aug-12         1.0
4     359550  game    Tom Clancy's Rainbow Six Siege    1-Dec-15         0.0
5     271590  game                Grand Theft Auto V   13-Apr-15         0.0
...      ...   ...                               ...         ...         ...
1993   64000  game         Men of War: Assault Squad   24-Feb-11         0.0
1994  227860  game                      Castle Story   17-Aug-17         0.0
1997  429050  game               Feed and Grow: Fish    8-Jan-16         0.0
1998  209650  game    Call of Duty: Advanced Warfare    3-Nov-14         0.0
1999  304730  game                       Train Fever    4-Sep-14         0.0

[1851 rows x 5 columns]

Next we will be importing data from the file "applicationTags.csv".

In [38]:
with open('./datasets/applicationTags.csv') as f:
    tagDict = {} # Store distinct genres
    IDs = []
    tags = []
    for line in f:
        if ',' in line:
            cleanLine = line.strip().split(',')
            IDs.append(cleanLine[0])
            tags.append(cleanLine[1:]) 
            for tag in cleanLine[1:]: tagDict.setdefault(tag)
df_tags = pd.DataFrame({'ID':IDs, 'Tags':tags},)
df_tags["ID"] = pd.to_numeric(df_tags["ID"])

Again, using one-hot encoding to separate tags into their own columns.

In [46]:
df_tags = df_tags.drop('Tags', 1).join(df_tags.Tags.str.join('|').str.get_dummies())
print(df_tags.shape)
df_tags

(1945, 340)

,ID,1980s,1990's,2.5D,2D,2D Fighter,3D,3D Platformer,3D Vision,4 Player Local,...,Warhammer 40K,Web Publishing,Werewolves,Western,Word Game,World War I,World War II,Wrestling,Zombies,e-sports
0,578080,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,570,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,730,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,359550,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,271590,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1940,64000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1941,227860,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1942,429050,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1943,209650,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1944,304730,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Since the ID column is the consistent way of identifying the applications listed, we will merge all 3 datasets into 1 joint dataset to provide more accesibility for data analysis and exploration. "df_genre" has the lowest amount of observations, therefore, we will use its amount of observations as the lower bound for merging the datasets.

In [49]:
df_genre_tags = pd.merge(df_genre, df_tags,on='ID') # shape = (1825, 365) after merging
combined_df = pd.merge(df_info, df_genre_tags, on='ID') # shape = (1803, 369) after merging
combined_df.shape

(1803, 369)

# Data Cleaning

There are a lot of columns on our final dataset merge. Let's take a look at what those columns are and decide which are most valuable to our research question.

In [51]:
print(list(combined_df.columns))

['ID', 'type', 'name', 'releasedate', 'freetoplay', 'Action_x', 'Adventure_x', 'Animation & Modeling_x', 'Audio Production_x', 'Casual_x', 'Design & Illustration_x', 'Early Access_x', 'Education_x', 'Free to Play_x', 'Gore_x', 'Indie_x', 'Massively Multiplayer_x', 'Nudity_x', 'Photo Editing_x', 'RPG_x', 'Racing_x', 'Sexual Content_x', 'Simulation_x', 'Software Training_x', 'Sports_x', 'Strategy_x', 'Utilities_x', 'Video Production_x', 'Violent_x', 'Web Publishing_x', '1980s', "1990's", '2.5D', '2D', '2D Fighter', '3D', '3D Platformer', '3D Vision', '4 Player Local', '4X', '6DOF', 'Abstract', 'Action_y', 'Action RPG', 'Action-Adventure', 'Addictive', 'Adventure_y', 'Agriculture', 'Aliens', 'Alternate History', 'America', 'Animation & Modeling_y', 'Anime', 'Arcade', 'Arena Shooter', 'Artificial Intelligence', 'Assassin', 'Asynchronous Multiplayer', 'Atmospheric', 'Audio Production_y', 'Base-Building', 'Based On A Novel', 'Basketball', 'Batman', 'Battle Royale', "Beat 'em up", 'Beautiful', 'Benchmark', 'Bikes', 'Blood', 'Board Game', 'Bowling', 'Building', 'Bullet Hell', 'Bullet Time', 'CRPG', 'Capitalism', 'Card Game', 'Cartoon', 'Cartoony', 'Casual_y', 'Character Action Game', 'Character Customization', 'Chess', 'Choices Matter', 'Choose Your Own Adventure', 'Cinematic', 'City Builder', 'Class-Based', 'Classic', 'Clicker', 'Co-op', 'Co-op Campaign', 'Cold War', 'Colorful', 'Comedy', 'Comic Book', 'Competitive', 'Conspiracy', 'Controller', 'Crafting', 'Crime', 'Crowdfunded', 'Cult Classic', 'Cute', 'Cyberpunk', 'Cycling', 'Dark', 'Dark Comedy', 'Dark Fantasy', 'Dark Humor', 'Dating Sim', 'Demons', 'Design & Illustration_y', 'Destruction', 'Detective', 'Difficult', 'Dinosaurs', 'Diplomacy', 'Dog', 'Dragons', 'Drama', 'Driving', 'Dungeon Crawler', 'Dungeons & Dragons', 'Dynamic Narration', 'Dystopian ', 'Early Access_y', 'Economy', 'Education_y', 'Emotional', 'Epic', 'Episodic', 'Experimental', 'Exploration', 'FMV', 'FPS', 'Faith', 'Family Friendly', 'Fantasy', 'Fast-Paced', 'Female Protagonist', 'Fighting', 'First-Person', 'Fishing', 'Flight', 'Football', 'Free to Play_y', 'Funny', 'Futuristic', 'Gambling', 'Game Development', 'GameMaker', 'Games Workshop', 'God Game', 'Golf', 'Gore_y', 'Gothic', 'Grand Strategy', 'Great Soundtrack', 'Grid-Based Movement', 'Gun Customization', 'Hack and Slash', 'Hacking', 'Hand-drawn', 'Heist', 'Hex Grid', 'Hidden Object', 'Historical', 'Horror', 'Horses', 'Hunting', 'Illuminati', 'Indie_y', 'Intentionally Awkward Controls', 'Interactive Fiction', 'Inventory Management', 'Investigation', 'Isometric', 'JRPG', 'Kickstarter', 'LEGO', 'Lara Croft', 'Level Editor', 'Linear', 'Local Co-Op', 'Local Multiplayer', 'Logic', 'Loot', 'Lore-Rich', 'Lovecraftian', 'MMORPG', 'MOBA', 'Magic', 'Management', 'Mars', 'Martial Arts', 'Massively Multiplayer_y', 'Masterpiece', 'Match 3', 'Mature', 'Mechs', 'Medieval', 'Memes', 'Metroidvania', 'Military', 'Mini Golf', 'Minimalist', 'Mining', 'Mod', 'Moddable', 'Modern', 'Mouse only', 'Movie', 'Multiplayer', 'Multiple Endings', 'Music', 'Music-Based Procedural Generation', 'Mystery', 'Mythology', 'NSFW', 'Narration', 'Naval', 'Ninja', 'Noir', 'Nonlinear', 'Nudity_y', 'Offroad', 'Old School', 'On-Rails Shooter', 'Online Co-Op', 'Open World', 'Otome', 'Parkour', 'Parody ', 'Party-Based RPG', 'Perma Death', 'Philisophical', 'Photo Editing_y', 'Physics', 'Pinball', 'Pirates', 'Pixel Graphics', 'Platformer', 'Point & Click', 'Political', 'Politics', 'Post-apocalyptic', 'Procedural Generation', 'Programming', 'Psychedelic', 'Psychological', 'Psychological Horror', 'Puzzle', 'Puzzle-Platformer', 'PvE', 'PvP', 'Quick-Time Events', 'RPG_y', 'RPGMaker', 'RTS', 'Racing_y', 'Real Time Tactics', 'Real-Time', 'Real-Time with Pause', 'Realistic', 'Relaxing', 'Remake', 'Replay Value', 'Resource Management', 'Retro', 'Rhythm', 'Robots', 'Rogue-like', 'Rogue-lite', 'Romance', 'Rome', 'Runner', 'Sailing', 'Sandbox', 'Satire', 'Sci-fi', 'Science', 'Score Attack', 'Sequel', 'Sexual Content_y', "Shoot 'Em Up", 'Shooter', 'Short', 'Side Scroller', 'Silent Protagonist', 'Simulation_y', 'Singleplayer', 'Sniper', 'Soccer', 'Software', 'Software Training_y', 'Souls-like', 'Soundtrack', 'Space', 'Space Sim', 'Spectacle fighter', 'Split Screen', 'Sports_y', 'Star Wars', 'Stealth', 'Steampunk', 'Story Rich', 'Strategy_y', 'Strategy RPG', 'Stylized', 'Superhero', 'Supernatural', 'Surreal', 'Survival', 'Survival Horror', 'Swordplay', 'Tactical', 'Tactical RPG', 'Tanks', 'Team-Based', 'Text-Based', 'Third Person', 'Third-Person Shooter', 'Thriller', 'Time Attack', 'Time Management', 'Time Manipulation', 'Time Travel', 'Top-Down', 'Top-Down Shooter', 'Touch-Friendly', 'Tower Defense', 'TrackIR', 'Trading', 'Trading Card Game', 'Trains', 'Transhumanism', 'Turn-Based', 'Turn-Based Combat', 'Turn-Based Strategy', 'Turn-Based Tactics', 'Tutorial', 'Twin Stick Shooter', 'Typing', 'Underwater', 'Unforgiving', 'Utilities_y', 'VR', 'VR Only', 'Vampire', 'Video Production_y', 'Villain Protagonist', 'Violent_y', 'Visual Novel', 'Voxel', 'Walking Simulator', 'War', 'Wargame', 'Warhammer 40K', 'Web Publishing_y', 'Werewolves', 'Western', 'Word Game', 'World War I', 'World War II', 'Wrestling', 'Zombies', 'e-sports']

Looking at all the genres and tags we got from combining the 3 data sets, we decided to stick to only ['ID', 'type', 'name', 'releasedate', 'freetoplay', 'Free to Play_x', 'Massively Multiplayer_x', 'Asynchronous Multiplayer', 'Casual_y', 'Co-op', 'Co-op Campaign', 'Competitive', 'Free to Play_y', 'Local Co-Op', 'Local Multiplayer', 'Massively Multiplayer_y', 'Multiplayer', 'Online Co-Op', 'Party-Based RPG', 'PvE', 'PvP', 'RPG_x', 'RPG_y', 'Replay Value', 'Singleplayer']. The reason we chose to do so is because we believe these features may be directly related to our research questions or may be confounders to the variables we may be investigating for our research questions.

In [60]:
combined = combined_df[['ID', 'type', 'name', 'releasedate', 'freetoplay', 'Free to Play_x', 'Massively Multiplayer_x', 'Asynchronous Multiplayer', 'Casual_y', 'Co-op', 'Co-op Campaign', 'Competitive', 'Free to Play_y', 'Local Co-Op', 'Local Multiplayer', 'Massively Multiplayer_y', 'Multiplayer', 'Online Co-Op', 'Party-Based RPG', 'PvE', 'PvP', 'RPG_x', 'RPG_y', 'Replay Value', 'Singleplayer']]
combined

,ID,type,name,releasedate,freetoplay,Free to Play_x,Massively Multiplayer_x,Asynchronous Multiplayer,Casual_y,Co-op,...,Massively Multiplayer_y,Multiplayer,Online Co-Op,Party-Based RPG,PvE,PvP,RPG_x,RPG_y,Replay Value,Singleplayer
0,578080,game,PLAYERUNKNOWN'S BATTLEGROUNDS,21-Dec-17,0.0,0,1,0,0,1,...,0,1,1,0,0,1,0,0,0,0
1,570,game,Dota 2,9-Jul-13,1.0,1,0,0,0,1,...,0,1,1,0,0,1,0,1,1,0
2,730,game,Counter-Strike: Global Offensive,21-Aug-12,1.0,1,0,0,0,1,...,0,1,1,0,0,1,0,0,0,0
3,359550,game,Tom Clancy's Rainbow Six Siege,1-Dec-15,0.0,0,0,0,1,1,...,1,1,1,0,0,0,0,0,0,1
4,271590,game,Grand Theft Auto V,13-Apr-15,0.0,0,0,0,0,1,...,0,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,64000,game,Men of War: Assault Squad,24-Feb-11,0.0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1799,227860,game,Castle Story,17-Aug-17,0.0,0,0,0,1,1,...,0,1,0,0,0,0,0,0,0,1
1800,429050,game,Feed and Grow: Fish,8-Jan-16,0.0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
1801,209650,game,Call of Duty: Advanced Warfare,3-Nov-14,0.0,0,0,0,0,1,...,0,1,1,0,0,1,0,0,0,1
1802,304730,game,Train Fever,4-Sep-14,0.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1